header{
  display: flex;
  margin-top: 30px;
}

header .col1{
  width: 70%;
}

header .col1 h1{
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 0;
}

header .col1 p{
  margin-top: 1px;
  font-size: 16px;
}

header .col2{
  width: 30%;
}

header .col2 p{
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
}

header .col2 p a{
  text-decoration: none;
  color: #000;
}

@media (max-width: 768px) {

  header{
    display: block;
  }

  header .col1{
    width: 100%;
  }

  header .col1 h1{
    text-align: center;
  }

  header .col1 p{
    text-align: center;
  }

  header .col2{
    width: 100%;
  }

  header .col2 p{
    font-size: 13px;
    text-align: center;
  }

}
